@model About
@{
    ViewBag.Title = "Om RC-Klubben";
}

<div class="row">
    <div class="col-md-6">
        <h2>@Model.Title</h2>
        Bestyrelsen:<br />
        Formand: @Model.Chairman<br />
        Næstformand: @Model.LessSoChairman<br />
        Kasser: @Model.TheOneWithTheMoney<br />
        Bestyrelsesmedlemmer: @Model.TheOnesThatDoesNothing
    </div>
    <div class="col-md-6">
        @Html.Raw(Model.YouTube)
    </div>
</div>